

.wa-theme-editor-color-picker-input-group {
  flex-grow: 1;
  height: 25px;
  position: relative;
  width: 100%;
}

.wa-theme-editor-color-picker-color-checkboard {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #868686;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.wa-theme-editor-color-picker-input {
    border: solid 1px #313131;
    padding: 4px;
    text-align: center;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: solid 1px #313131;
    border-right: none;
    border-bottom: solid 1px #313131;
    border-left: solid 1px #313131;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px #1c1d1d36;
  }

.wa-theme-editor-color-picker-input:focus {
  outline: solid 1px #fbfbfb81;
}
