/*.wa-theme-editor-toolbox {

  p-dialog {
    border-radius: 4px;
    -moz-border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial,sans-serif;

    .ui-dialog {
      border-radius: 3px;
      font-family: Arial,sans-serif;
    }

  }



}*/

$wa-theme-editor-toolbox-border-radius: 3px;

.wa-theme-editor-toolbox .ui-dialog {
  /*opacity: 0.8 !important;*/
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.72);
}

p-dialog .ui-dialog {
  border-radius: $wa-theme-editor-toolbox-border-radius !important;
}

.wa-theme-editor-toolbox .ui-dialog-titlebar {
  background: #1a1a1a !important;
  border-top-left-radius: $wa-theme-editor-toolbox-border-radius !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  text-shadow: 0 1px #000 !important;
  color: #65696b !important;
}

.wa-theme-editor-toolbox .ui-dialog-content {
  font-size: 11px !important;
  font-weight: 700 !important;
  border-radius: $wa-theme-editor-toolbox-border-radius !important;
  padding: 0px !important;
}

.wa-theme-editor-toolbox .ui-accordion .ui-accordion-header a {
  background-image: linear-gradient(#3b3b3b 0,#383838 100%);
  box-shadow: 0 1px 0 0 #404040 inset;
  border-bottom: 1px solid #242424;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-size: 11px;
}

.wa-theme-editor-toolbox .ui-accordion .ui-accordion-header a:focus {
  outline: none;
}

.wa-theme-editor-toolbox .ui-accordion .ui-accordion-header:focus {
  outline: none;
}

#wa-theme-editor-container .ui-overlaypanel-content {
  padding: 0px;
}

.wa-theme-editor-toolbox-accordion .ui-accordion .ui-accordion-content {
  padding: 0px !important;
  flex-grow: 1;
}

.wa-theme-designer-toolbox-item {
  padding: 8px;
  background-color: #2c2d2d;
  border-bottom: 1px solid #222729;
}

.wa-theme-designer-toolbox-bottom-toolbar {
  padding: 4px;
  justify-content: flex-end;
  display: flex;
}

.wa-theme-designer-toolbox-bottom-toolbar-button {
  height: 24px;
  background: #1a1a1a;
  color: #ddd;
  font-weight: 700;
  font-size: 11px;
  outline: none;
}

.wa-theme-editor-toolbox-accordion {
  flex-grow: 1;
}

.wa-theme-editor-color-picker-control-hidden-input {
  width: 0px;
    height: 0px;
    position: absolute;
    left: -100x;
    top: -100px;
    opacity: 0;
}


.wa-theme-editor-color-picker-overlay input {
  background: #ddd !important;
}
